* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

}

@import url(
    'https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap'
);

ul{
    list-style: none;
}

header{
    display: flex;
    background-color: #2E948A;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  30px auto;
    width: 100%;
    max-width: 1500px;
}

.logo{
    margin-left: 82px;
}

header nav a {
    color: #FFF;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* BANNER */

.abertura{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 100px auto;
    width: 100%;
}

.abertura div h1{
    color: #FF4081;
    font-size: 60px;
}

.abertura div p{
    font-size: 27px;
    margin: 30px auto;
    color: #555555;
}

#more-button{
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 5px 25px;
    cursor: pointer;
    text-decoration: none;
    color: #FF4081;
    transition: 300ms;
}

#more-button:hover{
    background-color: #fd71a0;
    color: #FFF;
}

/* CURSOS SECTION */

.section-começar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #F6F6F6;
    width: 100%;

}

.começar-button{
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    padding: 5px 25px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #FF4081;
    transition: 300ms;
    align-content: center;
}


.começar-button:hover{
    background-color: #Fff;
    color: #FF4081;
}

.quadros-começar{
    margin: 70px ;
}

.quadros-começar p{
    margin: 25px auto;
    text-align: center;
    align-content: center;
}

.quadros-começar a{
    margin: 25px auto;
    text-align: center;
    align-content: center;
}

.quadros-começar h2{
    margin: 25px auto;
    text-align: center;
    align-content: center;
    color: #FF4081
}


/* O QUE FALAM SOBRE NÓS */

.section-oqfalam{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.section-oqfalam div {
    margin: 30px;
}

.titulo-section p{
    color: #009688 ;
    font-weight: bold;
    font-weight: 700;
    font-size: 37px;
    margin: 50px;
    
}

.quadros-depoimento{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 10px 0 0;
    
}

.quadros-depoimento p{
    text-align: left;
    align-items: center;
    padding: 30px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#419488;
    width: 100%;
    padding: 20px;
}



.footer-button{
    padding: 5px 0px;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

.footer-nav{
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.footer-button-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    border: #FFF solid 1px;
    padding: 5px 25px;
    color: #FFF;
    margin: 0;
}

.footer-button-link:hover{
    background-color: #Fff;
    color: #419488;
}

#menu-footer nav a{
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    text-transform: lowercase;
    line-height: 22,98px;
}

.section-conteudo{
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: space-evenly;
    background-color: #E5E5E5;

}