* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

@import url(
    'https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300&display=swap'
);

header{
    background-color: #2E948A;
    box-sizing: border-box;
    height: 85px;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
}

.logo{
    margin-left: 82px;
    max-width: 50%;
}

.menu nav a{
    color: #FFF;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.menu{
    margin-right: 30px;
}

/* ARTICLE */

.titulo-pagina{
    text-align: center;
}

.titulo-pagina h1{
    font-size: 50px;
}

.artigo {
    text-align: justify;
}

section{
    margin: 5%
}

#div-imagem{
    padding: 10%;
    width: 100%;
    align-items: center;
}








/* FOOTER */

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#419488;
    width: 100%;
    box-sizing: border-box;
}

#img-footer{
    width: 100%;
}

.footer-button{
    padding: 5px 0px;
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}

.footer-nav{
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.footer-button-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 25px;
    border: #FFF solid 1px;
    padding: 5px 25px;
    color: #FFF;
    margin: 0;
    text-align: center;
}

.footer-button-link:hover{
    background-color: #Fff;
    color: #419488;
}

#menu-footer nav a{
    display: flex;
    flex-direction: column;
    color: #FFF;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: lighter;
    font-size: 20px;
    text-transform: lowercase;
    line-height: 22,98px;
}